<%- include('../partials/header') %>
<main>
  <div class="container m-5">
    <!-- Logout Button on the Top Right -->
    <div class="d-flex justify-content-end">
      <a href="/logout" class="btn btn-danger">Logout</a>
    </div>

    <div class="row justify-content-center mt-3">
      <div class="w-75">
        <form method="post" action="" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="title" class="form-label">Blog Title</label>
            <input type="text" class="form-control" id="title" name="title">
          </div>
          <div class="mb-3">
            <label for="author" class="form-label">Author</label>
            <input type="text" class="form-control" id="author" name="author">
          </div>
          <div class="mb-3">
            <input type="file" class="form-control" id="imgUrl" name="imgurl">
          </div>
          <div class="mb-3">
            <label for="content" class="form-label">Content</label>
            <input type="text" class="form-control" id="content" name="content">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</main>


       
        <%- include('../partials/footer') %>